@import url("https://use.typekit.net/oii6arb.css");

/******************** here we go motherfuckers******************/
body {
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(238, 217, 172);
}

.inactive {
  display: none;
}

.weird {
  font-family: tilda-petite, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5em;
  margin-top: 0;
  padding-top: 0;
  text-align: center;
}

#logo {
  margin-top: 3em;
  max-width: 50%;
}

#hoax {
  display: block;
  text-align: center;
}

img {
  max-width: 50%;
}

#details-main {
  margin-top: 1em;
  text-align: center;
  margin-bottom: 10em;
}

.houseimg {
  width: 20%;
}

#sortthing{
  text-align: right;
}

nav {
  /*width: 80%;*/
  text-align: center;
  
  margin: auto;
}
a {
  border-right: 2px solid black;
  padding: .5em;
  background-color: rgb(118, 128, 219);
  text-decoration: none;
  color: white;
  border-color: rgb(238, 217, 172);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10%;
}

#lastNav{
  border: none;
}

#moreinf{
  display: block;
  text-align: center;
  position: relative; 
left: 50%;
transform: translateX(-50%);
background-color: rgb(118, 128, 219);
color: white;
border-radius: 10%;
border: none;

}

@media screen and (min-width: 700px) {
  img {
    width: 30%;
  }

  body {
    width: 70vw;
    margin: auto;
  }
  #details-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
  }
}

@media screen and (min-width: 700px) {
  img {
    width: 10%;
  }
}

/*should have done modal first because i know how to dothat
but i spent too much time on sort and now im 
dont have time. kms*/
